@import url('https://fonts.googleapis.com/css2?family=Borel&family=Libre+Baskerville&family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,500&display=swap');

.App{ 
    text-align: center;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* from url at top */

}